{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Vidéos</h1>
<p>
    <a href="{{ path('app_video') }}">Voir les vidéos</a>
</p>

{% endblock %}
