{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block importmap %}{{ importmap(['app', 'home']) }}{% endblock %}

{% block body %}

    {% include '_includes/_header.html.twig' %}

    <section class="home-container">



    </section>

{% endblock %}
