{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}

{# {{ dump() }} #}

<div class="container-fluid">
    <div class="row">
        <div class="col border rounded text-center pt-2">
            <h1 class="fw-bold">Tableau de Bord</h1>
            <p>
                Depuis le menu de gauche, vous pouvez administrer et gérer toutes les sections du site.
            </p>
        </div>
    </div>
</div>

{% endblock %}